[submodule "pyalgotrade"]
	path = pyalgotrade
	url = https://github.com/gbeced/pyalgotrade.git
[submodule "trading-with-python"]
	path = trading-with-python
	url = https://github.com/sjev/trading-with-python.git
[submodule "Yahoo-ticker-symbol-downloader"]
	path = Yahoo-ticker-symbol-downloader
	url = https://github.com/Benny-/Yahoo-ticker-symbol-downloader.git
